# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.vs
/ArticleReader/.vs
/ArticleReader/ArticleReader/bin
/ArticleReader/ArticleReader/obj
/ArticleReader/packages
